@import "vars"
@import "fonts"

//start global style
body 
    font-family: "DM Sans"
    padding: 0 
    margin: 0
    color: #100f21
.container 
    padding-left: 15px 
    padding-right: 15px
    max-width: 500px 
    margin-left: auto 
    margin-right: auto
//end global style

//start header style
.header 
    background: #f6f6f8
    padding-top: 20px 
    padding-bottom: 20px
.back 
    display: flex 
    align-items: center
    text-decoration: none 
    underline: none
    color: #100f21
    font-weight: 500
    font-size: 14px
.back-arrow 
    width: 15px
    display: block 
    margin-right: 10px
.flirtu-logo
    display: flex 
    align-items: center
    font-size: 16px
    text-decoration: none
    color: #100f21
    font-weight: 500
    padding-top: 15px
    img 
        width: 20px 
        height: 20px 
        border-radius: 50%
        display: block 
        margin-right: 5px
//end header style

//start page content 
.page-content 
    padding: 30px 0
.content__title
    text-transform: uppercase
    font-weight: 500
    padding-bottom: 15px 
    border-bottom: 1px solid #ececec
.content 
    padding: 20px 0
.plane-name
    display: flex 
    align-items: center 
    font-weight: 700
    font-size: 18px
    img 
        width: 25px
        display: block 
        margin-right: 5px
.plane-price 
    padding-top: 10px 
    font-size: 18px 
    font-weight: 500
.plane-info 
    font-size: 14px
    padding-top: 10px
.button 
    width: 100% 
    max-width: 500px
    border: 1px solid #c8c8c8
    height: 50px
    display: flex 
    justify-content: center
    align-items: center
    border-radius: 10px
    margin-top: 37px
    font-weight: 700
    text-transform: uppercase
    font-size: 15px
    color: #444348
    cursor: pointer
.button:hover 
    color: #444348
.card-icon 
    width: 40px 
    display: block 
    margin-right: 10px 
.card 
    display: flex
    padding-top: 20px
    align-items: center
    font-weight: 500
.edit-icon 
    width: 15px
    margin-left: 33px
    opacity: 0.5
    cursor: pointer
//end page content

//start modal style
.modal 
    position: fixed 
    top: 0
    left: 0 
    width: 100% 
    z-index: 99
    background: rgba(0, 0, 0, 0.5)
    height: 100%
    display: none
.modal-content 
    background: #fff
    width: 280px 
    height: auto 
    padding: 30px 
    border-radius: 10px 
    position: absolute 
    top: 50% 
    left: 50% 
    transform: translateY(-50%) translateX(-50%)
    text-align: center
    font-size: 18px
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.5)
.modal__text 
    font-weight: 500 
.modal__buttons 
    display: flex
    justify-content: center
    margin-top: 20px
.modal__button 
    width: 100px 
    height: 40px 
    border-radius: 10px 
    display: flex 
    justify-content: center 
    align-items: center
    border: 1px solid #c8c8c8
    margin: 0 5px
    text-decoration: none
    color: #100f21
    cursor: pointer
    
.modal__button--yes
   color: #cf222e
.modal__button--no 
    color: #2da44e
//end modal style
.title 
    font-size: 28px
    text-align: center
.cancele-content 
    min-height: calc(100vh - 93px )
    display: flex 
    align-items: center 
    justify-content: center
@import "media"



